URL Constructors deprecation

Since Java 20, all URL constructors are deprecated.

More info: https://bugs.openjdk.org/browse/JDK-8294241

Should be replaced with `new URI(...).toURL()`

I've heard about that. How is MapStruct affected by this? I don't think that we use URLs anywhere 

Thanks for the clarification @stefanos-kalantzis. I had forgotten about that one.

That is indeed the correct spot.

>edit2: I just realized that I don't know how you'd detect java version and presence of methods that don't exist in earlier versions. Do you already have other spots that do something like this? Is reflection allowed/possible here?

No reflection is needed. However, I think that we don't need to check. Looking at the `URI` constructor and the `toURL` method it has always been there. I think that we can just adjust that and use the new structure always (`new URI(...).toURL()`).



I'm hitting what seems to be a wall... Maybe someone would have insights here?

`new URL()` is not 100% compatible with `new URI().toURL()`, because `new URI()` expects the given String to respect rfc2396.

Which means, URLs like this: `https://google.com/search?q=some|thing` can be initialized with `new URL()` but not with `new URI()`.

_(ignore the bad example... 😄)_

I think these are the illegal characters: `"{" | "}" | "|" | "\" | "^" | "[" | "]" | "`"` (from the RFC)

---

I thought maybe the URLEncoder/URLDecoder Java classes would help, but they do more, and to the whole String.

Any ideas?

Thanks for looking into this in such a detail @stefanos-kalantzis.

Perhaps we need to do it base on the source version of the project in which we are generating. If it is 20 or later then we generate `new URI().toURL()` and we'll mention it in the release notes that this is a change for Java 20+ and if they want to have the old behaviour they can define their own mapping method.

The way to see which version it is, we'll need to pass the `VersionInformation` or at least which source version we are on to the `DefaultConversionContext` somehow. Then you can use that in the `URLToStringConversion` to decide which mapping to use.  Another alternative would be that you create a new `URLToStringViaURIConversion` and you register the right method in `Conversions` based on the version information.

After a lot of consideration and discussions with Java colleagues, I am not sure what the correct approach is here... My inclination is to just close this issue (please feel free to do so).

There are several issues that contribute to the current messy state:
- Java URL comes from Java 1
- Java URI comes from Java 4
- There have been multiple RFCs around URLs, with their own issues and legacies
- There's `whatwg` that is yet another standard, and tries to fix the mess: https://url.spec.whatwg.org/
- `whatwg` goals:
   > - Align RFC 3986 and RFC 3987 with contemporary implementations and obsolete the RFCs in the process. (E.g., spaces, other "illegal" code points, query encoding, equality, canonicalization, are all concepts not entirely shared, or defined.) URL parsing needs to become as solid as HTML parsing. [RFC3986] [RFC3987]
   > - Standardize on the term URL. URI and IRI are just confusing. In practice a single algorithm is used for both so keeping them distinct is not helping anyone. URL also easily wins the search result popularity contest.
   > - Supplanting Origin of a URI [sic]. [RFC6454]
   > - Define URL’s existing JavaScript API in full detail and add enhancements to make it easier to work with. Add a new URL object as well for URL manipulation without usage of HTML elements. (Useful for JavaScript worker environments.)
   > - Ensure the combination of parser, serializer, and API guarantee idempotence. For example, a non-failure result of a parse-then-serialize operation will not change with any further parse-then-serialize operations applied to it. Similarly, manipulating a non-failure result through the API will not change from applying any number of serialize-then-parse operations to it.

---

At this point I believe that I have been making a mistake to use Java's URL/URI classes as an approximation for correctness and "data carrying" (i.e. Java's classes should only be used when the intention is to actually open a connection to the target). Also, from my experience this is a very widespread mistake (I've been working on Java projects for ~15 years and it's the only thing I've seen being done).

---

It seems that `whatwg` is the best defined standard we have, and (imho) Java should probably have introduced a new class that implements it instead of suggesting Java 4's URI. Because now the result is that all libraries that have to deal with this mess need to implement "something".

For anyone else running into this, I found a `whatwg` implementation in Java which seems quite thorough: https://github.com/stephanebastian/whatwg-url